In [1]:
!pip install sodapy

Requirement already satisfied: sodapy in /Users/keithellett/anaconda3/lib/python3.7/site-packages (1.5.0)
Requirement already satisfied: future>=0.17.1 in /Users/keithellett/anaconda3/lib/python3.7/site-packages (from sodapy) (0.17.1)
Requirement already satisfied: requests>=2.20.0 in /Users/keithellett/anaconda3/lib/python3.7/site-packages (from sodapy) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/keithellett/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2018.8.24)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/keithellett/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2.7)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/keithellett/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (1.23)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/keithellett/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (3.0.4)

In [1]:
import pandas as pd
from sodapy import Socrata

In [2]:
#Example authenticated client (needed for non-public datasets):
token = "mnrpVaaUpKOs9r7NHikOBfhpH"


# Example authenticated client (needed for non-public datasets):
client = Socrata('data.cityofchicago.org',
                 token,
                 username="keithellett@gmail.com",
                 password="Projectone1")

In [3]:
results = client.get("5neh-572f")

In [4]:
results_df = pd.DataFrame.from_records(results)

In [5]:
results_df.head()

                      date daytype rides station_id       stationname
0  2001-01-01T00:00:00.000       U   273      40350       UIC-Halsted
1  2001-01-01T00:00:00.000       U   306      41130    Halsted-Orange
2  2001-01-01T00:00:00.000       U  1059      40760         Granville
3  2001-01-01T00:00:00.000       U   649      40070  Jackson/Dearborn
4  2001-01-01T00:00:00.000       U   411      40090       Damen-Brown

In [6]:
results_df.sort_values(["date"], ascending=True)

                        date daytype  rides station_id          stationname
0    2001-01-01T00:00:00.000       U    273      40350          UIC-Halsted
103  2001-01-01T00:00:00.000       U    854      40320   Division/Milwaukee
102  2001-01-01T00:00:00.000       U      0      40420        Cicero-Cermak
101  2001-01-01T00:00:00.000       U    156      40850              Library
100  2001-01-01T00:00:00.000       U    402      41180         Kedzie-Brown
99   2001-01-01T00:00:00.000       U   1763      41220            Fullerton
98   2001-01-01T00:00:00.000       U    144      41140           King Drive
97   2001-01-01T00:00:00.000       U    182      40490      Grand/Milwaukee
96   2001-01-01T00:00:00.000       U   1131      40190    Sox-35th-Dan Ryan
95   2001-01-01T00:00:00.000       U   1255      40560        Jackson/State
94   2001-01-01T00:00:00.000       U    474      40920  Pulaski-Forest Park
93   2001-01-01T00:00:00.000       U    225      41440        Addison-Brown
92   2001-01-01T00:00:00.000       U    217      41160         Clinton-Lake
91   2001-01-01T00:00:00.000       U    469      40960       Pulaski-Orange
90   2001-01-01T00:00:00.000       U    987      41020         Logan Square
89   2001-01-01T00:00:00.000       U    953      40880            Thorndale
88   2001-01-01T00:00:00.000       U   2030      40930       Midway Airport
87   2001-01-01T00:00:00.000       U   1273      41000     Cermak-Chinatown
73   2001-01-01T00:00:00.000       U    357      41070          Kedzie-Lake
74   2001-01-01T00:00:00.000       U      0      41030                 Polk
75   2001-01-01T00:00:00.000       U    834      40200      Randolph/Wabash
76   2001-01-01T00:00:00.000       U      0      40580          54th/Cermak
77   2001-01-01T00:00:00.000       U    660      40390          Forest Park
78   2001-01-01T00:00:00.000       U   1659      41430                 87th
104  2001-01-01T00:00:00.000       U    460      41150        Kedzie-Midway
79   2001-01-01T00:00:00.000       U   1449      40540               Wilson
81   2001-01-01T00:00:00.000       U   1165      40060       Belmont-O'Hare
82   2001-01-01T00:00:00.000       U    869      41290              Kimball
83   2001-01-01T00:00:00.000       U     96      40160    LaSalle/Van Buren
84   2001-01-01T00:00:00.000       U   1698      40100                Morse
..                       ...     ...    ...        ...                  ...
905  2001-01-07T00:00:00.000       U   4514      41320   Belmont-North Main
897  2001-01-07T00:00:00.000       U    560      41180         Kedzie-Brown
898  2001-01-07T00:00:00.000       U    342      40640       Madison/Wabash
883  2001-01-07T00:00:00.000       U    464      40040         Quincy/Wells
884  2001-01-07T00:00:00.000       U   5822      41450        Chicago/State
885  2001-01-07T00:00:00.000       U      0      41030                 Polk
886  2001-01-07T00:00:00.000       U    486      40480          Cicero-Lake
888  2001-01-07T00:00:00.000       U      0      41040        Kedzie-Cermak
889  2001-01-07T00:00:00.000       U   1972      41170    Garfield-Dan Ryan
882  2001-01-07T00:00:00.000       U    154      40160    LaSalle/Van Buren
891  2001-01-07T00:00:00.000       U      0      40740       Western-Cermak
892  2001-01-07T00:00:00.000       U    252      41360      California-Lake
893  2001-01-07T00:00:00.000       U    689      40810       Medical Center
894  2001-01-07T00:00:00.000       U    403      40010   Austin-Forest Park
895  2001-01-07T00:00:00.000       U   1280      41200               Argyle
896  2001-01-07T00:00:00.000       U   1556      41000     Cermak-Chinatown
890  2001-01-07T00:00:00.000       U    621      40960       Pulaski-Orange
997  2001-01-08T00:00:00.000       W  10856      41220            Fullerton
996  2001-01-08T00:00:00.000       W   4599      40060       Belmont-O'Hare
995  2001-01-08T00:00:00.000       W  14409      40450        95th/Dan Ryan
994  2001-01-08T00:00:00.000       W   5672      40790      Monroe/Dearborn
993  2001-01-08T00:00:00.000       W   1132      40490      Grand/Milwaukee
989  2001-01-08T00:00:00.000       W    718      41140           King Drive
991  2001-01-08T00:00:00.000       W   4380      40530             Diversey
990  2001-01-08T00:00:00.000       W   1868      41440        Addison-Brown
988  2001-01-08T00:00:00.000       W   6425      40630       Clark/Division
987  2001-01-08T00:00:00.000       W   8221      40330          Grand/State
998  2001-01-08T00:00:00.000       W   1809      41160         Clinton-Lake
992  2001-01-08T00:00:00.000       W   1195      40920  Pulaski-Forest Park
999  2001-01-08T00:00:00.000       W   1208      40270                 Main

[1000 rows x 5 columns]

In [7]:
results_df.to_csv('../csv_output/cta_ride_stop.csv')

In [9]:
results_df.count()

date           1000
daytype        1000
rides          1000
station_id     1000
stationname    1000
dtype: int64