In [258]:
import gmaps
import pandas as pd

In [260]:
df = pd.read_csv('newer.csv')
df.head()

,Unnamed: 0,MAP_ID,stationame,month_beginning,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal,RED,BLUE,G,BRN,P,Y,Pnk,O,Location
0,0,40900,Howard,01/01/2001,6233.9,3814.5,2408.6,164447,True,False,False,False,False,False,False,False,"(42.019063, -87.672892)"
1,1,41190,Jarvis,01/01/2001,1489.1,1054.0,718.0,40567,True,False,False,False,False,False,False,False,"(42.015876, -87.669092)"
2,2,40100,Morse,01/01/2001,4412.5,3064.5,2087.8,119772,True,False,False,False,False,False,False,False,"(42.008362, -87.665909)"
3,3,41300,Loyola,01/01/2001,4664.5,3156.0,1952.8,125008,True,False,False,False,False,False,False,False,"(42.001073, -87.661061)"
4,4,40760,Granville,01/01/2001,3109.8,2126.0,1453.8,84189,True,False,False,False,False,False,False,False,"(41.993664, -87.659202)"

In [39]:
#Create a list for latitude and longitude to be used later with gmaps
lat = []
lng = []

for row in df['Location']:
    try:
        lat.append(row.split(',')[0])
        lng.append(row.split(',')[1])
    except:
        lat.append(np.NaN)
        lng.append(np.NaN)

In [269]:
#Get rid of the () that were carried over from df['Location'] 
df["Latitude"] = lat
df["Latitude"] = df['Latitude'].str.replace('(','')
df["Longitude"] = lng
df["Longitude"] = df['Longitude'].str.replace(')','')
df.head()

,Unnamed: 0,MAP_ID,stationame,month_beginning,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal,RED,BLUE,G,BRN,P,Y,Pnk,O,Location,Latitude,Longitude
0,0,40900,Howard,01/01/2001,6233.9,3814.5,2408.6,164447,True,False,False,False,False,False,False,False,"(42.019063, -87.672892)",42.019063,-87.672892
1,1,41190,Jarvis,01/01/2001,1489.1,1054.0,718.0,40567,True,False,False,False,False,False,False,False,"(42.015876, -87.669092)",42.015876,-87.669092
2,2,40100,Morse,01/01/2001,4412.5,3064.5,2087.8,119772,True,False,False,False,False,False,False,False,"(42.008362, -87.665909)",42.008362,-87.665909
3,3,41300,Loyola,01/01/2001,4664.5,3156.0,1952.8,125008,True,False,False,False,False,False,False,False,"(42.001073, -87.661061)",42.001073,-87.661061
4,4,40760,Granville,01/01/2001,3109.8,2126.0,1453.8,84189,True,False,False,False,False,False,False,False,"(41.993664, -87.659202)",41.993664,-87.659202

In [271]:
#Create separate dataframes for each train line
red_line = pd.DataFrame()
blue_line = pd.DataFrame()
orange_line = pd.DataFrame()
purple_line = pd.DataFrame()

red_line = df.loc[df['RED']==True]
blue_line = df.loc[df['BLUE']==True]
orange_line = df.loc[df['O']==True]
purple_line = df.loc[df['P']==True]

red_line.head()

,Unnamed: 0,MAP_ID,stationame,month_beginning,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal,RED,BLUE,G,BRN,P,Y,Pnk,O,Location,Latitude,Longitude
0,0,40900,Howard,01/01/2001,6233.9,3814.5,2408.6,164447,True,False,False,False,False,False,False,False,"(42.019063, -87.672892)",42.019063,-87.672892
1,1,41190,Jarvis,01/01/2001,1489.1,1054.0,718.0,40567,True,False,False,False,False,False,False,False,"(42.015876, -87.669092)",42.015876,-87.669092
2,2,40100,Morse,01/01/2001,4412.5,3064.5,2087.8,119772,True,False,False,False,False,False,False,False,"(42.008362, -87.665909)",42.008362,-87.665909
3,3,41300,Loyola,01/01/2001,4664.5,3156.0,1952.8,125008,True,False,False,False,False,False,False,False,"(42.001073, -87.661061)",42.001073,-87.661061
4,4,40760,Granville,01/01/2001,3109.8,2126.0,1453.8,84189,True,False,False,False,False,False,False,False,"(41.993664, -87.659202)",41.993664,-87.659202

In [272]:
#Create three Series for each train line with 'stationame' as the index along with 'monthtotal', ... 
# ... 'Latitude', and 'Longitude' as the corresponding variables
red_sums = red_line.groupby('stationame')['monthtotal'].sum()
red_lat = red_line.groupby('stationame')['Latitude'].unique()
red_long = red_line.groupby('stationame')['Longitude'].unique()

blue_sums = blue_line.groupby('stationame')['monthtotal'].sum()
blue_lat = blue_line.groupby('stationame')['Latitude'].unique()
blue_long = blue_line.groupby('stationame')['Longitude'].unique()

orange_sums = orange_line.groupby('stationame')['monthtotal'].sum()
orange_lat = orange_line.groupby('stationame')['Latitude'].unique()
orange_long = orange_line.groupby('stationame')['Longitude'].unique()

purple_sums = purple_line.groupby('stationame')['monthtotal'].sum()
purple_lat = purple_line.groupby('stationame')['Latitude'].unique()
purple_long = purple_line.groupby('stationame')['Longitude'].unique()

In [282]:
#For each Series trio, concatenate all three together into a DataFrame and set the 'Latitude' ...
# ... and Longitude as floats
red_chart = pd.concat([red_sums, red_lat, red_long], axis=1)
red_chart['Latitude'] = red_chart['Latitude'].astype(float)
red_chart['Longitude'] = red_chart['Longitude'].astype(float)

blue_chart = pd.concat([blue_sums, blue_lat, blue_long], axis=1)
blue_chart['Latitude'] = blue_chart['Latitude'].astype(float)
blue_chart['Longitude'] = blue_chart['Longitude'].astype(float)

orange_chart = pd.concat([orange_sums, orange_lat, orange_long], axis=1)
orange_chart['Latitude'] = orange_chart['Latitude'].astype(float)
orange_chart['Longitude'] = orange_chart['Longitude'].astype(float)

purple_chart = pd.concat([purple_sums, purple_lat, purple_long], axis=1)
purple_chart['Latitude'] = purple_chart['Latitude'].astype(float)
purple_chart['Longitude'] = purple_chart['Longitude'].astype(float)

red_chart.head()

               monthtotal   Latitude  Longitude
stationame
47th-Dan Ryan    16946699  41.810318 -87.630940
63rd-Dan Ryan    18759373  41.780536 -87.630952
69th             32561699  41.768367 -87.625724
79th             41860567  41.750419 -87.625112
87th             26745218  41.735372 -87.624717

In [274]:
#Set the 'monthtotal' Series as a list for use in the gmaps
red_totals = red_chart['monthtotal'].tolist()
blue_totals = blue_chart['monthtotal'].tolist()
orange_totals = orange_chart['monthtotal'].tolist()
purple_totals = purple_chart['monthtotal'].tolist()

In [287]:
#Map of Chicago's transit lines
fig = gmaps.figure(center=(41.8781, -87.6298), zoom_level=11)
fig.add_layer(gmaps.transit_layer())
fig

Figure(layout=FigureLayout(height='420px'))

In [288]:
#Red Line Heat Map
marker_locations = red_chart[['Latitude', 'Longitude']]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(marker_locations, weights=red_totals,
                                dissipating=False, max_intensity=max(red_totals),
                                point_radius=0.0045)

heat_layer.dissipating = False
heat_layer.max_intensity = max(red_totals)
heat_layer.point_radius = 0.0045

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [295]:
#Most/least popular Red lines
red_popular = red_chart.nlargest(3, 'monthtotal')
red_popular

               monthtotal   Latitude  Longitude
stationame
Lake/State       89415316  41.884809 -87.627813
Chicago/State    84027079  41.896671 -87.628176
95th/Dan Ryan    68605107  41.722377 -87.624342

In [319]:
#Red Line Most Popular Stops
marker_locations = red_chart[['Latitude', 'Longitude']]
popular_marker_locations = red_popular[['Latitude', 'Longitude']]
fig = gmaps.figure()
markers = gmaps.marker_layer(popular_marker_locations)
heat_layer = gmaps.heatmap_layer(marker_locations, weights=red_totals,
                                dissipating=False, max_intensity=max(purple_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(red_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [329]:
red_least_popular = red_chart.nsmallest(3, 'monthtotal')
red_least_popular

            monthtotal   Latitude  Longitude
stationame
Jarvis         8731055  42.015876 -87.669092
Argyle        16177202  41.973453 -87.658530
Thorndale     16402783  41.990259 -87.659076

In [320]:
#Red Line Least Popular Stops
marker_locations = red_chart[['Latitude', 'Longitude']]
popular_marker_locations = red_least_popular[['Latitude', 'Longitude']]
fig = gmaps.figure()
markers = gmaps.marker_layer(popular_marker_locations)
heat_layer = gmaps.heatmap_layer(marker_locations, weights=red_totals,
                                dissipating=False, max_intensity=max(purple_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(red_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [277]:
#Blue Line Heat Map
marker_locations = blue_chart[['Latitude', 'Longitude']]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(marker_locations, weights=blue_totals,
                                dissipating=False, max_intensity=max(blue_totals),
                                point_radius=0.005)

heat_layer.dissipating = False
heat_layer.max_intensity = max(blue_totals)
heat_layer.point_radius = 0.005

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [296]:
#Most/least popular Blue lines
blue_popular = blue_chart.nlargest(3, 'monthtotal')
blue_popular

                     monthtotal   Latitude  Longitude
stationame
O'Hare Airport         59339719  41.977665 -87.904223
Washington/Dearborn    50931844  41.883164 -87.629440
Jackson/Dearborn       39005028  41.878183 -87.629296

In [321]:
#Blue Line Most Popular Stops
marker_locations = blue_chart[['Latitude', 'Longitude']]
popular_marker_locations = blue_popular[['Latitude', 'Longitude']]
fig = gmaps.figure()
markers = gmaps.marker_layer(popular_marker_locations)
heat_layer = gmaps.heatmap_layer(marker_locations, weights=blue_totals,
                                dissipating=False, max_intensity=max(blue_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(blue_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [328]:
blue_least_popular = blue_chart.nsmallest(3, 'monthtotal')
blue_least_popular

                     monthtotal   Latitude  Longitude
stationame
Harlem-Forest Park      5560539  41.873490 -87.806961
Cicero-Forest Park      7071073  41.871574 -87.745154
Western-Forest Park     7895890  41.875478 -87.688436

In [322]:
#Blue Line Least Popular Stops
marker_locations = blue_chart[['Latitude', 'Longitude']]
popular_marker_locations = blue_least_popular[['Latitude', 'Longitude']]
fig = gmaps.figure()
markers = gmaps.marker_layer(popular_marker_locations)
heat_layer = gmaps.heatmap_layer(marker_locations, weights=blue_totals,
                                dissipating=False, max_intensity=max(blue_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(blue_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [285]:
#Orange Line Heat Map    
marker_locations = orange_chart[['Latitude', 'Longitude']]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(marker_locations, weights=orange_totals,
                                dissipating=False, max_intensity=max(orange_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(orange_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [297]:
#Most popular Orange lines
orange_popular = orange_chart.nlargest(3, 'monthtotal')
orange_popular

                monthtotal   Latitude  Longitude
stationame
Clark/Lake        90434433  41.885737 -87.630886
Roosevelt         55083272  41.867405 -87.626590
Midway Airport    47568200  41.786610 -87.737875

In [323]:
#Orange Line Most Popular Stops
marker_locations = orange_chart[['Latitude', 'Longitude']]
popular_marker_locations = orange_popular[['Latitude', 'Longitude']]
fig = gmaps.figure()
markers = gmaps.marker_layer(popular_marker_locations)
heat_layer = gmaps.heatmap_layer(marker_locations, weights=orange_totals,
                                dissipating=False, max_intensity=max(orange_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(orange_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [327]:
orange_least_popular = orange_chart.nsmallest(3, 'monthtotal')
orange_least_popular

                monthtotal   Latitude  Longitude
stationame
Ashland-Orange     8217101  41.839234 -87.665317
Halsted-Orange    13706230  41.846780 -87.648088
35th/Archer       14609429  41.829353 -87.680622

In [324]:
#Orange Line Least Popular Stops
marker_locations = orange_chart[['Latitude', 'Longitude']]
popular_marker_locations = orange_least_popular[['Latitude', 'Longitude']]
fig = gmaps.figure()
markers = gmaps.marker_layer(popular_marker_locations)
heat_layer = gmaps.heatmap_layer(marker_locations, weights=orange_totals,
                                dissipating=False, max_intensity=max(orange_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(orange_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [284]:
#Purple Line Heat Map
marker_locations = purple_chart[['Latitude', 'Longitude']]
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations)
heat_layer = gmaps.heatmap_layer(marker_locations, weights=purple_totals,
                                dissipating=False, max_intensity=max(purple_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(purple_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [304]:
#Most/least popular Purple lines
purple_popular = purple_chart.nlargest(3, 'monthtotal')
purple_popular

            monthtotal   Latitude  Longitude
stationame
Davis         21479288  42.047710 -87.683543
Main           6702921  42.033456 -87.679538
Linden         5826225  42.073153 -87.690730

In [313]:
#Purple Line Most Popular Stops
marker_locations = purple_chart[['Latitude', 'Longitude']]
popular_marker_locations = purple_popular[['Latitude', 'Longitude']]
fig = gmaps.figure()
markers = gmaps.marker_layer(popular_marker_locations)
heat_layer = gmaps.heatmap_layer(marker_locations, weights=purple_totals,
                                dissipating=False, max_intensity=max(purple_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(purple_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [330]:
purple_least_popular = purple_chart.nsmallest(3, 'monthtotal')
purple_least_popular

                 monthtotal   Latitude  Longitude
stationame
Noyes               4007590  42.058282 -87.683337
South Boulevard     4267170  42.027612 -87.678329
Foster              4332917  42.054160 -87.683560

In [314]:
#Purple Line Least Popular Stops
marker_locations = purple_chart[['Latitude', 'Longitude']]
popular_marker_locations = purple_least_popular[['Latitude', 'Longitude']]
fig = gmaps.figure()
markers = gmaps.marker_layer(popular_marker_locations)
heat_layer = gmaps.heatmap_layer(marker_locations, weights=purple_totals,
                                dissipating=False, max_intensity=max(purple_totals),
                                point_radius=0.0035)

heat_layer.dissipating = False
heat_layer.max_intensity = max(purple_totals)
heat_layer.point_radius = 0.0035

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))